/* GLOBAL */

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: 900;
}

p {
  font-size: 1rem;
  line-height: 1.25;
}

.intro-chunk > p {
  font-size: 1.25rem;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

/* BODY */

body {
  background-color: hsl(0deg, 0%, 60%);
}

.max-width-wrapper {
  max-width: 550px;
  margin: 0 auto;
}

/* HEADER */

header {
  padding-top: 40px;
  padding-bottom: 16px;
  border-bottom: 5px solid hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 100%);
}

.intro-chunk {
  padding: 16px 24px;
}

.title {
  margin-bottom: 48px;
}

.intro-chunk p {
  width: 75%;
}

/* MAIN */

main {
  padding: 64px 0;
}

.card {
  padding: 24px;
  padding-bottom: 8px;
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 5px solid hsl(0deg, 0%, 40%);
}

.indented-heading {
  width: fit-content;
  margin-top: -16px;
  margin-left: -32px;
  padding: 16px 32px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 5px solid hsl(45deg, 100%, 40%);
}